.container {
    max-width: 960px;
}

#logo:hover {
    cursor: pointer;
}

.needs-validation #create-account-button {
    background: rgb(217, 76, 102);
    border-color: rgb(217, 76, 102);
    /* margin: 0px 10% 0px 10%; */
    /* text-align: center; */
}

.needs-validation #create-account-button:hover {
    background: rgb(163, 57, 77);
}


/* .needs-validation #password {
    margin-bottom: 8%;
} */

.needs-validation #invalidpassword {
    margin-bottom: 8%;
}