.container {
    /* max-width: 960px; */
    /* max-width: 1080px; */
}

#logo:hover {
    cursor: pointer;
}


/* #home-button {
    color: rgb(217, 76, 102) !important;
} */

#home-button:hover {
    font-weight: bold;
}

#about-button:hover {
    font-weight: bold;
}

#login-button {
    /* background: rgb(217, 76, 102); */
    /* border-color: rgb(217, 76, 102); */
    /* color: black; */
}


/* #login-button:hover {
    background: rgb(217, 76, 102);
    border-color: rgb(217, 76, 102);
    color: white;
} */


/* #signin-button {
    background: rgb(217, 76, 102);
    border-color: rgb(217, 76, 102);
}

#signin-button:hover {
    background: rgb(163, 57, 77);
    border-color: rgb(163, 57, 77);
} */


/* .needs-validation #create-account-button {
    background: rgb(217, 76, 102);
    border-color: rgb(217, 76, 102);
    
}

.needs-validation #create-account-button:hover {
    background: rgb(163, 57, 77);
} */


/* .needs-validation #password {
    margin-bottom: 8%;
} */

.needs-validation #invalidpassword {
    margin-bottom: 8%;
}