.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

#home-button {
    color: rgb(217, 76, 102) !important;
}

#login-button {
    /* background: rgb(217, 76, 102); */
    border-color: rgb(217, 76, 102);
    /* color: black; */
}

#login-button:hover {
    background: rgb(217, 76, 102);
    border-color: rgb(217, 76, 102);
    color: white;
}

#signin-button {
    background: rgb(217, 76, 102);
    border-color: rgb(217, 76, 102);
}

#signin-button:hover {
    background: rgb(163, 57, 77);
    border-color: rgb(163, 57, 77);
}