img#logoHeader {
    padding: 0px 5%;
    max-width: 100%;
    /* height: auto; */
    width: 250px;
}

h1#menu{
    background-color: rgb(217,76,102);
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    box-shadow: 5px 5px rgb(0, 0, 0);
    /* height:20px; */
    align-items: center;
}
         
button{
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 5px;
    width: 100px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    /* font-style: bold;  */
    /* align-items: center; */
}


button#home:hover{
    background-color:  rgb(217,76,102);
    color: white
} 

button#login:hover{
    background-color: rgb(217,76,102);
    color: white
} 

button#register:hover{
    background-color:  rgb(217,76,102);
    color: white
} 
